# Haskell
dist-newstyle/

# EMACS backup files
*~
\#*\#
.\#*

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V1
.fseventsd
.Spotlight-V10
.Trashes
VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk

# Linux
*~
.fuse_hidden*
.directory
.trash
.nfs*
